@model Tollab.Admin.Data.Models.Views.StudentCourseView

@{
    ViewBag.Title = "StudentCourseReport";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css" />
</head>

<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc"> Student Or Course Report</h2>

@using (Html.BeginForm())
{
    <h2 style="text-align:center;color:red;">@ViewBag.Error</h2>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="" id="Students">
            @Html.Label("Student", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <input type="text"
                       id="StudentId"
                       name="StudentId"
                       data-grid-filter-field="Phone"
                       class="super-autocomplete"
                       dataAutoCompleteUrl="/Students/autocomplete"
                       dataPreSelectedIds="@ViewBag.StudentId"
                       dataMaxItems="1" />
            </div>
        </div>

        <div class="" id="Courses">
            @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <input type="text"
                       id="CourseId"
                       name="CourseId"
                       data-grid-filter-field="CourseTrack"
                       class="super-autocomplete"
                       dataAutoCompleteUrl="/Courses/autocomplete"
                       dataPreSelectedIds="@ViewBag.CourseId"
                       dataMaxItems="1" />
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="View Report" class="btn btn-primary" />
            </div>
        </div>
    </div>




    <input type="submit" value="Get Excel File" class="btn btn-primary" formaction="/StudentCourses/GetExcelFile?CourseId=@ViewBag.CourseId&StudentId=@ViewBag.StudentId" style="margin-bottom:10px;" />


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentName2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentPhone2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTrack)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamSummary)
                </th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in ViewBag.StudentCourses)
            {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.StudentNumber
                </td>
                <td>
                    @item.ParentName
                </td>
                <td>
                    @item.ParentPhone
                </td>
                <td>
                    @item.ParentName2
                </td>

                <td>
                    @item.ParentPhone2
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.CourseTrack
                </td>
                <td>
                    @item.ExamSummary
                </td>

            </tr>
            }

        </tbody>
    </table>

}




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/plugins/jQuery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">



    //$(function () {
    //    $("#StudentId").change(function () {
    //        var val = 0;
    //        val = $(this).val();

    //        if (!$(this).val()) {
    //            $("#Students").show();
    //            $("#Courses").show();
    //        }
    //        else if (val > 0) {

    //            $("#Courses").hide();
    //        }

    //    });
    //    $("#CourseId").change(function () {
    //        var val = 0;
    //        val = $(this).val();

    //        if (!$(this).val()) {
    //            $("#Students").show();
    //            $("#Courses").show();
    //        }
    //        else if (val > 0) {

    //            $("#Students").hide();
    //        }

    //    });

    //});
</script>