@model Tollab.Admin.Data.Models.CourseDepartment

@{
    ViewBag.Title = "CourseDepartments";
}

<h2 style="text-align:center;color:white;border-radius:25px;background:#3c8dbc">Create Course Department</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text"
                   id="CourseId"
                   name="CourseId"
                   data-grid-filter-field="Name"
                   class="super-autocomplete"
                   dataAutoCompleteUrl="/Courses/autocomplete"
                   dataPreSelectedIds="@Model.CourseId"
                   dataMaxItems="1" />
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text"
                   id="DepartmentId"
                   name="DepartmentId"
                   data-grid-filter-field="DepartmentSubCategory"
                   class="super-autocomplete"
                   dataAutoCompleteUrl="/Departments/autocomplete"
                   dataPreSelectedIds="@Model.DepartmentId"
                   dataMaxItems="1" />
            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
