@model IEnumerable<Tollab.Admin.Data.Models.Setting>

@{
    ViewBag.Title = "index2";
}

<h2>index2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SettingKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SettingKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettingValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
